.flipper {	
	/*animation params*/
	transition: 1s;
	-webkit-transform-style: preserve-3d;
	text-align:center;
  	position: absolute;
	top: 20%;
	left: 50%;
}

#flipped {
	-webkit-transform: rotateY(180deg);
}

#notflipped {
	-webkit-transform: rotateY(0deg);
}

.card {
	/*background-color:#FFF9E3;*/
	background-image:url('creampaper.png');
	width:500px;
	height: 250px;
	margin: auto;
  	border-radius: 2px;
	-moz-box-shadow: 30px 30px 50px 1px #999;
	-webkit-box-shadow: 30px 30px 50px 1px #999;
	-webkit-backface-visibility: hidden;
  	position: absolute;
	margin-left: -250px
}

#front {
	z-index: 2;
	text-align: center;
}

#back {
	-webkit-transform: rotateY(180deg);
	text-align: left;
}

#bcard {
	position:relative;
	top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -10% 0 0 -25%;
}

#name {
	font-size:50px;
}

#occupation {
	font-size:20px;
}
