#toflip {	
	/*animation params*/
	transition: 1s;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	text-align:center;
  	position: absolute;
	top: 20%;
	left: 50%;
}

.flipped {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.notflipped {
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.card {
	border : 5px;
	border-color: #FFFFFF;
	background-image:url('creampaper.png');
	width:500px;
	height: 250px;
	margin: auto;
  	border-radius: 2px;
	-moz-box-shadow: 30px 30px 50px 1px #999;
	-webkit-box-shadow: 30px 30px 50px 1px #999;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
  	position: absolute;
	margin-left: -250px
}

#front {
	z-index: 2;
}

#back {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
}

#email {
	background-image: url("mail-icon.png");
	width:100px;
}

.icon {
	position: relative;
	margin-top: 40%;
	margin: 0 auto;
	background-position: right;
	height:64px;
}

.clickable {	
	color:#B6B6A6;
}

.clickable:hover {
	background-position: left;
	cursor: pointer;
	color:#000000;
}

.bcard {
	position:relative;
	top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -10% 0 0 -25%;
}

#name {
	font-size:75px;
}

#backName {
	position: absolute;
	left:10px;
	top:10px;
}

#occupation {
	font-size:20px;
}

#occupation:hover {
}
